extends layout
block stylesheet
    link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/contactUs.css")
    //- link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/style.css")
block content
    .contact-area
        .container
            .row
                .col-md-12
                    .location
                        ul
                            li
                                a(href='/')
                                    | Trang chủ
                                    span / 
                            li(style='margin-left: 5px;')   Liên Hệ

            .row.map
                .col-sm-9
                    .contact-info
                        #googleMap
                            
                        .contact-details
                            .contact-title
                                h3 Liên Hệ chúng tôi
                            .contact-form
                                .form-title
                                    h4 Thông tin liên hệ
                                .form-content
                                    ul
                                        li
                                            .form-box
                                                .form-name
                                                    label
                                                        | Họ và Tên
                                                        em *
                                                    input(type='text')
                                            .form-box
                                                .form-name
                                                    label
                                                        | Email 
                                                        em *
                                                    input(type='email')
                                        li
                                            .form-box
                                                .form-name
                                                    label Số điện thoại
                                                    input(type='text')
                                        li
                                            .form-box
                                                .form-name
                                                    label
                                                        | Câu hỏi 
                                                        em *
                                                    textarea(cols='5' rows='3')
                            .buttons-set
                                p
                                    em *
                                    |  Yêu cầu điền thông tin
                                button(type='submit') Gửi yêu cầu
    //-script(src='/script/contactUs.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU')
    script.
        function initialize() {
            var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(23.81033, 90.41252)
            };
            var map = new google.maps.Map(document.getElementById('googleMap'),mapOptions)
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation:google.maps.Animation.BOUNCE,
                icon: 'img/contact/map-marker.png',
                map: map
            })
        }
        google.maps.event.addDomListener(window, 'load', initialize)
