extends layout
block stylesheet
    link(rel="stylesheet" href="/stylesheets/layout/error404.css")
block content
    section#page_404.text-center
        h1 404
        p Trang quý khách tìm kiếm không có sẵn