.footer-dark
    footer
        .container
            .footer-content
                .footer-div-item1 
                    img.image_logo(src='/images/logo_legalcorpusdocument.png' alt='')
                .footer-div-item
                    ul
                        li
                            a(href='/') Trang chủ
                        li
                            a(href='/aboutUs') Giới Thiệu
                        li
                            a(href='termOfUse') Điều Khoản Sử Dụng
                        li
                            a(href='/contactUs') Liên Hệ
                        li
                            a(href='#') RESTful APIs
                .footer-div-item
                    ul  
                        li
                            a(href='#') Văn Bản Mới
                        li
                            a(href='#') Văn Bản Pháp Luật
                        li
                            a(href='#') Công Văn
                        li
                            a(href='#') Tiêu Chuẩn Việt Nam
                        li
                            a(href='#') Dự Thảo
                .footer-div-item2
                    ul  
                        li.content
                            a(href='#') © 2020. All right reserved
                        li
                            a(href='/aboutUs')  LegalDocumentCorpus developed by Dung and Toan
            .align-items-center.footer-contact
                .footer-contact-logo
                    a(href='#')
                        img(src='/images/icon/ic_facebook.png')
                    a(href='#')
                        img(src='/images/icon/ic_instagram.png')
                    a(href='#')
                        img(src='/images/icon/ic_twitter.png')
                    a(href='#')
                        img(src='/images/icon/ic_youtube.png')
                    a(href='#')
                        img(src='/images/icon/ic_google.png')
                div
                    a(href='#')
                        img.get-app(src='/images/img/im_store.png')