div
    div(class="header-blue")
        nav(class="navbar navbar-light navbar-expand-md navigation-clean-search")
            div(class="container-fluid")
                div
                    a(class="navbar-brand", href="/")
                        img(class="header-logo", src="/images/logo_legalcorpusdocumentClient.png")
                div
                    button.navbar-toggler(data-target='#navcol-1' data-toggle='collapse')
                        span.sr-only 
                            | Toggle
                            | navigation
                        span.navbar-toggler-icon.crossRotate
                div(class="collapse navbar-collapse", id="navcol-1")
                    div(class="navbar-group")
                        div(class="navbar-text mr-4")
                            a(class="travel", href="/")
                                i(class="fas fa-home")
                                |                                     Trang chủ
                        div(class="navbar-text mr-4")
                            a(class="signup", href="/admin")
                                i(class="fas fa-book")
                                |                                     Văn bản pháp luật
                        div(class="navbar-text mr-4")
                            a(class="login", href="", data-toggle='modal' data-target='#signUpModal')
                                i(class="fas fa-user")
                                |                                     Đăng kí
                        div(class="navbar-text mr-4")
                            a(class="login", href="", data-toggle='modal' data-target='#logInModal')
                                i(class="fas fa-sign-in-alt")
                                |                                     Đăng nhập
                        div(class="navbar-text mr-4")
                            a(class="login", href="/contactUs")
                                i(class="fas fa-phone")
                                |                                     Liên hệ
.invisible-div
.container(style='padding: 0 0 0 0; margin: 0 auto;')
    div
        .create-order-container
            .input-link
                .parse_button
                    div
                        input.parse(type='text' placeholder='Gõ từ khóa cần tìm kiếm...')
                    div
                        button.btn_create(role='button' onclick="location.href=''")
                            | Tìm Kiếm
            .order-guide
                div
                    label(for='click-change-icon') Tìm kiếm nâng cao   
                    input#click-change-icon.style4(data-toggle='collapse' type='checkbox' data-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample')
                    #collapseExample.collapse
                        div(style='background-color:#e5f3fb;padding: 15px')
                            form(style='margin-bottom: 0px;')
                                .form-group.row(style='margin-bottom: 0.5rem;')
                                    label.col-sm-2.col-form-label(for='inputDocName') Tên Văn Bản
                                    .col-sm-10(style='width:50%')
                                        input#inputDocName.form-control(style='width:50%' type='text' placeholder='Gõ tên văn bản cần tìm kiếm...')
                                .form-group.row(style='margin-bottom: 0.5rem;')
                                    label.col-sm-2.col-form-label(for='inputDocType') Loại Văn Bản
                                    .col-sm-10
                                        select#inputState.form-control(style='width:50%')
                                            option(selected='') Tất cả
                                            option Hiến pháp
                                            option Bộ luật của Quốc hội
                                            option Luật của Quốc hội
                                            option Nghị quyết của Quốc hội 
                                            option Pháp lệnh của Ủy ban thường vụ Quốc hội
                                            option Nghị quyết của Ủy ban thường vụ Quốc hội
                                .form-group.row(style='margin-bottom: 0.5rem;')
                                    label.col-sm-2.col-form-label(for='inputDocId') Số Hiệu
                                    .col-sm-10(style='width:50%')
                                        input#inputDocId.form-control(style='width:50%' type='text' placeholder='Nhập số hiệu văn bản...')
                                .form-group.row(style='margin-bottom: 0.5rem;')
                                    label.col-sm-2.col-form-label(for='inputDocDate') Ngày Ban Hành
                                    .col-sm-10(style='width:50%')
                                        input#inputDocDate.form-control(style='width:50%' type='date')
                                .form-group.row(style='margin-bottom: 0.5rem;')
                                    label.col-sm-2.col-form-label(for='inputDocStarted') Ngày Hiệu Lực
                                    .col-sm-10(style='width:50%')
                                        input#inputDocStarted.form-control(style='width:50%' type='date')
                                .form-group.row(style='margin-bottom: 0rem;')
                                    label.col-sm-2.col-form-label(for='inputDocType') Loại Văn Bản
                                    .col-sm-10
                                        select#inputState.form-control(style='width:50%')
                                            option(selected='') Tất cả
                                            option Chưa có hiệu lực
                                            option Còn hiệu lực
                                            option Hết hiệu lực
                                            option Không xác địn

#signUpModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .register-photo
            .form-container(style='display: table;max-width: 900px;width: 100%;box-shadow: 1px 1px 5px rgba(0,0,0,0.1);')
        
                form(method='post' style='border-bottom-left-radius:5px; border-top-left-radius:5px')
                    h2.text-left Đăng kí tài khoản.
                    .form-group
                        input.form-control(type='text' name='name' placeholder='Họ và tên')
                    .form-group
                        input#example-date-input.form-control(type='date' value='' placeholder='Ngày sinh')
                        .hide Ngày sinh
                            //- i.fas.fa-calendar-alt


                                
                    .form-group
                        input.form-control(type='email' name='email' placeholder='Email')
                    .form-group
                        input.form-control(type='text' name='username' placeholder='Tên đăng nhập')
                    
                    .form-group
                        input.form-control(type='password' name='password' placeholder='Mật khẩu')
                    .form-group
                        input.form-control(type='password' name='password-repeat' placeholder='Nhập lại mật khẩu')
                    .form-group
                        .form-check
                            label.form-check-label
                            input.form-check-input(type='checkbox' style='-webkit-appearance: auto;')
                            |  Tôi đồng ý với 
                            a(href='/termOfUse')
                                strong Điều khoản và Chính sách sử dụng dữ liệu
                            | .
                    .form-group(style='margin-bottom:0px')
                        a(style='text-align:center; font-size: 15px; margin-bottom:0px' href='', data-toggle='modal' data-target='#logInModal') Bạn đã có tài khoản? Đăng nhập ngay!
                    .form-group
                        button.btn.btn-primary.btn-block(type='submit' style='margin:0 auto;margin-top:15px; width:60%; margin-bottom:0px  ') Đăng kí
                form.image-holder(method='post' style='border-bottom-right-radius:5px; border-top-right-radius:5px')
                    div
                        h2.text-center Đăng nhập với tài khoản
                        .form-group
                            button.btn.btn-primary.btn-block(type='submit' style='margin-top:15px;  margin:auto;width: 100%;') Tài khoản Facebook
                        .form-group
                            button.btn.btn-primary.btn-block(type='submit' style='margin-top:15px; margin:auto ; width: 100%;') Tài khoản Twitter
                        .form-group
                            button.btn.btn-primary.btn-block(type='submit' style='margin-top:15px; margin:auto; width: 100%;') Tài khoản Google

#logInModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .login-dark
            form(method='post')
                h2.sr-only Login Form
                .illustration
                    i.fas.fa-users
                .form-group
                    input.form-control(type='email' name='email' placeholder='Tên đăng nhập')
                .form-group
                    input.form-control(type='password' name='password' placeholder='Mật khẩu')
                a.forgot(href='#') Bạn quên tài khoản?
                .form-group
                    button.btn.btn-primary.btn-block(type='submit') Đăng nhập
                a.signup(href='#') Hoặc đăng nhập với
                .flex-c-m
                    a.login100-social-item.bg1(href='#')
                        i.fa.fa-facebook
                    a.login100-social-item.bg2(href='#')
                        i.fa.fa-twitter
                    a.login100-social-item.bg3(href='#')
                        i.fa.fa-google

