extends layout
block stylesheet
    link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/profileUser.css")

block content
    .about-us
        .container
            .row
                .col-md-12
                    .location
                        ul
                            li
                                a(href='/' title='go to homepage')
                                    | Trang chủ
                                    span /
                            li(style='margin-left: 5px;')  Trang cá nhân
            .about-page
                .row
                    .col-md-9.col-sm-7
                        .about-page-content
                            h3 Phan Minh Toàn
                            p(style='color:4c9fbf; ')
                              |Tham gia ngày: 03/12/2020
                        div
                            nav
                                #nav-tab.nav.nav-tabs(role='tablist')
                                    a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') Thông tin của tôi
                                    a#nav-profile-tab.nav-item.nav-link(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Văn bản của tôi

                                #nav-tabContent.tab-content
                                    #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
                                        form(style='margin-top: 20px; margin-left:50px')
                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocId') Mã số
                                                .col-sm-8(style='width:100%')
                                                    input#inputDocId.form-control(style='width:60%' type='text' value='01234' readonly)

                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocName') Họ và Tên
                                                .col-sm-8(style='width:100%')
                                                    input#inputDocName.form-control(style='width:60%' type='text' value='Phan Minh Toàn' readonly)

                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocType') Giới tính
                                                .col-sm-8
                                                    select#inputState.form-control(style='width:60%')
                                                        option(selected='') Nam
                                                        option Nữ
                                                        option Khác

                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocDate') Ngày Sinh
                                                .col-sm-8(style='width:100%')
                                                    input#inputDocDate.form-control(style='width:60%' type='date' placeholder='02/10/1998')

                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocStarted') Ngày tham gia
                                                .col-sm-8(style='width:100%')
                                                    input#inputDocStarted.form-control(style='width:60%' type='date' placeholder='03/12/2020' readonly)

                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocName') Địa chỉ
                                                .col-sm-8(style='width:100%')
                                                    input#inputDocName.form-control(style='width:60%' type='text' value='Bắc Bình, Bình Thuận')
                                            
                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocName') Email
                                                .col-sm-8(style='width:100%')
                                                    input#inputDocName.form-control(style='width:60%' type='text' value='16521261@gm.uit.edu.vn')
                                            
                                            .form-group.row(style='margin-bottom: 0.5rem;')
                                                label.col-sm-3.col-form-label(for='inputDocType') Loại tiện ích
                                                .col-sm-5
                                                    select#inputState.form-control(style='width:100%' readonly)
                                                        option(selected='') FREE
                                                        option Basic 1
                                                        option Basic 5
                                                        option Basic 15
                                                a.col-sm-4.col-form-label(href='/roleChange') Chuyển loại thành viên
                                            .form-group.row
                                                button.btn_create(role='button' onclick="location.href=''")
                                                    | Cập nhật 
                                                                     

                                    #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab') ...

                            


                    .col-md-3.col-sm-5
                        .about-img
                            img.img-responsive(src='/images/img/im_dev1.jpg' alt='')
                        .form-group.row(style='margin-top: 0.5rem;')
                            button.btn_create(role='button' onclick="location.href='/roleChange'")
                                i.fa.fa-camera
                                | Upload photo
       
            