extends layout
block stylesheet
    link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/termOfUse.css")
    link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/style.css")
block content
    .about-us
        .container
            .row
                .col-md-12
                    .location
                        ul
                            li
                                a(href='/' title='go to homepage')
                                    | Trang chủ
                                    span / 
                            li  Điều khoản sử dụng
            .about-page
                .title
                    h3 Thỏa thuận sử dụng dịch vụ
                .content
                    p.part Phần 1: Quy định chung
                    p.part-content
                        | Khi Quý khách sử dụng thông tin và dịch vụ trên LEGAL DOCUMENT CORPUS Online là Quý khách chấp nhận Thỏa ước này, kể cả những thay đổi về sau.
                    p.part-content
                        | Nội dung trên LEGAL DOCUMENT CORPUS Online là văn bản pháp luật và kiến thức pháp luật. Quý khách chấp nhận sử dụng dịch vụ là chấp nhận sử dụng hình thức và nội dung hiện tại. LEGAL DOCUMENT CORPUS Online không nảy sinh trách nhiệm pháp lý với người sử dụng khi xảy ra vận dụng pháp luật sai.
                    p.part-content
                        | Khi Quý khách sử dụng lại vào mục đích phi thương mại những thông tin từ LEGAL DOCUMENT CORPUS Online, nhất thiết phải ghi rõ nguồn: “Theo www.LegalDocumentCorpus.vn”.
                    p.part Phần 2: Dịch vụ
                    p.part-content Các dịch vụ do LEGAL DOCUMENT CORPUS Online cung cấp bao gồm:
                    ul.list-part-content
                        li Tra cứu văn bản trực tuyến Thành viên Free: Miễn phí tra cứu tất cả văn bản;
                        li
                            | Tra cứu văn bản trực tuyến Thành viên Basic: Tra cứu tất cả văn bản, xem ngày hiệu lực, hết hiệu lực, văn bản liên quan, văn bản thay thế,...
                        li
                            | Nhận bản tin Danh mục văn bản mới: Thành viên Free và Thanh viên Basic đều nhận bản tin từ LEGAL DOCUMENT CORPUS Online tuần 3 lần, để theo dõi sự thay đổi của hệ thống văn bản pháp luật.
                        li
                            | Tư vấn và thảo luận các vấn đế pháp lý: Các thành viên sẽ được các luật sư/Luật gia tư vấn pháp luật. Thành iên có thể cùng thảo luận các vấn đề pháp lý đang xảy ra với mình.
                        li ...
                    p.part Phần 3: Trách nhiệm Quý khách
    
                    p.part-content
                        | Khi sử dụng LEGAL DOCUMENT CORPUS Online đòi hỏi Quý khách phải đăng ký Tên Thuê Bao, Mật khẩu, và một số thông tin cá nhân trước khi sử dụng. Các thông tin này phải chính xác, bởi nó ảnh hưởng trực tiếp đến quyền lợi của Quý khách.
                    p.part-content
                        | Khi muốn thay đổi về thông tin đã đăng ký (Tên Thuê Bao, người đứng tên sử dụng, Email,...), người sử dụng phải thay đổi tại phần Thông tin tài khoản;
                    p.part-content
                        | Quý khách tự bảo mật Tên Thuê bao và Mật khẩu. LEGAL DOCUMENT CORPUS Online sẽ không chịu trách nhiệm trong các trường hợp mật khẩu bị thay đổi do người sử dụng làm lộ, hoặc cho nhiều người cùng sử dụng chung.
                    p.part-content
                        | Mỗi Tên Thuê Bao được đăng ký cho một cá nhân, đơn vị cụ thể. Bởi vậy, LEGAL DOCUMENT CORPUS Online có quyền hạn chế tại một thời điểm thì 1 Thuê bao Cá Nhân chỉ có 1 người được sử dụng, và 1 Thuê bao Doanh nghiệp chỉ có 5 người sử dụng;
                    p.part Phần 4: Giới hạn quyền của Quý khách
                    p.part-content Quyền của Quý khách bị giới hạn bởi các quy định dưới đây:
                    p.part-content
                        | Không được sao chép, bán, cho thuê lại quyền sử dụng, hoặc cung cấp Tên Thuê bao và Mật khẩu cho một bên thứ ba sử dụng.
                    p.part-content
                        | Không được phép sử dụng thông tin, dữ liệu từ LEGAL DOCUMENT CORPUS Online để phát triển thành (toàn bộ hoặc một phần) hệ thống lưu trữ và tra cứu khác nhằm mục đích thương mại, bao gồm: bán, cho thuê hoặc hình thức thương mại khác.
                    p.part Phần 5: Giới hạn trách nhiệm của LEGAL DOCUMENT CORPUS Online
                    p.part-content
                        | Không chịu trách nhiệm về sự mất mát, nghĩa vụ pháp lý, hoặc thiệt hại nào là hậu quả từ sai sót của Quý khách.
                    p.part-content
                        | Không chịu trách nhiệm trước bất kỳ mất mát, nghĩa vụ pháp lý, hoặc thiệt hại nào là hậu quả từ một trang web khác có đường dẫn trực tiếp hoặc gián tiếp từ LEGAL DOCUMENT CORPUS Online, hoặc nội dung những trang web đó.
                    p.part-content
                        | Không chịu trách nhiệm về bất kỳ khiếu nại, thiệt hại nào do nguyên nhân là hậu quả của, hoặc phát sinh do liên quan đến việc sử dụng hoặc không thể sử dụng LEGAL DOCUMENT CORPUS Online.
                    p.part-content
                        | Ngòai các giới hạn trên, nếu xuất hiện một nghĩa vụ pháp lý nào đó mà LEGAL DOCUMENT CORPUSOnline phải gánh chịu và bồi thường thì sẽ ngang bằng khoản phí Quý khách đóng lần gần nhất (lần sau cùng).
                    p.part Phần 6: Xử lý vi phạm
                    p.part-content
                        | LEGAL DOCUMENT CORPUS Online có quyền áp dụng các biện pháp xử lý vi phạm mà pháp luật cho phép nếu Quý khách vi phạm các quy định tại Thỏa ước chung này.
                    p.part-content
                        | Thỏa ước này chịu sự điều chỉnh của pháp luật Việt Nam. Bất kỳ hành vi nào làm phát sinh trách nhiệm và khiếu nại liên quan đến Thỏa ước này sẽ được giải quyết tại Tòa án Nhân dân có thẩm quyền.
                    p.part Phần 7: Thực hiện
                    p.part-content
                        | Các thông báo và khuyến cáo trên LEGAL DOCUMENT CORPUS Online sau này là bộ phận bổ sung cho Thỏa ước.
                    p.part-content
                        | Nếu bất kỳ điều khoản nào trong Thỏa ước này, cũng như thông báo và khuyến cáo về sau, không hợp pháp, vô hiệu và/hoặc không thể thi hành được, thì điều khoản đó sẽ được coi là tách biệt khỏi những điều khoản còn lại của Thỏa ước, và không ảnh hưởng đến hiệu lực cũng như khả năng thi hành của các điều khoản còn lại.
                    p.part-content Thỏa ước này có hiệu lực từ ngày 01/09/2020.
                    
