.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination>li>a, .pagination>li>span {
    color: #4c9fbf;
    border: 1px solid #bfd7e0;
}
.form-control {
 
    border-color: #bfd7e0;
}
.btn-default {
    background-color: #e5f3fb;
    border-color: #bfd7e0;
}
.box {
    background: #ffffff;
    border-top: 3px solid #4c9fbf;
    
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #4c9fbf;
}
.box-footer {
    
    border-top: 1px solid #4c9fbf;
}
.button{
    color:#000;
}
i.far.fa-edit {
     padding: 0; 
}
.docs-name{

    width: 14%;

}
.signer{

    width: 17%;

}
.date-of-release{
    width: 12%;

}
.date-effect{
    width: 14%;

}

.status-effect{
    width: 5%;

}
.docs-field{
    width: 13%;
}
.register-photo {
    background: #f1f7fc;
    padding: 0px 0;
    border-radius: 5px;
}
.register-photo form h2 {
    margin-bottom: 15px;
    text-align: center;
}
.user-panel.edit-user {
    padding: 0px 10px 0px 10px;
    width:100%;
}
.pull-left.info.name{
    color: #000;
    width: 50%;
    font-size: 16px;
}
.online{
    color: #000;
}
.btn_create {
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    font-size: 18px;
    padding: 5px 15px;
    text-align: center;
    height: 40px;
    border: 1px solid #4c9fbf;
    border-radius: 5px;
    background: #4c9fbf;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    text-transform: none;
    color: #fff;
    line-height: 1;
    outline: none;
    background-color: #4c9fbf;
    text-decoration: none;
    margin: auto;
    margin-top: 15px;
    
}
.form-group-inside{
    width: 80%;
    margin: 0 auto;
}
.label-pro1 {
    background-color: #7697A0 !important;
}
.label-pro2 {
    background-color: #4a707a !important;
}
.label-effect-inconsonant{
    color: #ffb284 !important;
   
}
span.label{
    font-size:16px;
    font-weight: 400;
    padding: 0;
}
.label-effect-unknow{
    color: #9b9b9b !important;
    
}
.label-effect-no{
    color: #de5b6d !important;
   
}
.label-effect-yes{
    color: #68b2a0 !important;
   
}
label.col-sm-1.col-form-label{
    padding-left:0px; 
    padding-right:0px;
}
label.col-sm-2.col-form-label{
    padding-right:0px;
}
select#inputState.form-control {
    background-color: #e5f3fb;
    border: none;
    border-bottom: 1px solid #4c9fbf;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: #000;
}
.box-header.search-title{
    border: 0.05rem solid #4c9fbf;
    margin: 10px 15px;
    background-color: #e5f3fb;
}
.table>tbody>tr:hover{
    background-color: #e5f3fb;
}