@media (max-width: 576px) {
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  .navbar-group {
    display: flex;
    flex-direction: column;
    /* width: 210px; */
    /* float: right; */
    background-color: #fff !important;
    padding: 0px 16px;
    padding-bottom: 16px;
    /* margin: -16px; */
  }
}

@media (max-width: 699) {
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  .navbar-group {
    display: flex;
    flex-direction: column;
    width: 210px;
    float: right;
  }
}

.header-blue {
  /* background: linear-gradient(135deg, #172a74, #21a9af); */
  /* background-color: #184e8e; */
  /* padding-bottom: 80px; */
  font-family: "Graphik,Graphik LC Web", "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 768px) {
  /* .header-blue {
        padding-bottom: 120px;
    } */
}

.header-blue .navbar {
  background: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

@media (min-width: 768px) {
  .header-blue .navbar .navcol-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.header-blue .navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.header-blue .navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  /* margin-top: .5rem; */
}

@media (min-width: 768px) {
  .header-blue .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}

.header-blue .navbar .navbar-collapse div .login {
  color: #000;
  text-decoration: none;
}

.header-blue .navbar .navbar-collapse div .login:hover {
  color: #4c9fbf;
}

.header-blue .navbar .navbar-collapse div .signup {
  color: #000;
  text-decoration: none;
}

.header-blue .navbar .navbar-collapse div .signup:hover {
  color: #4c9fbf;
}

.header-blue .navbar .navbar-collapse div .travel {
  color: #4c9fbf;
  text-decoration: none;
}

.header-blue .navbar .navbar-collapse div .travel:hover {
  color: #33829c;
}
.header-blue .navbar .navbar-collapse .navbar-group .navbar-text a{
  color: #4c9fbf;

} 
.header-blue .navbar .navbar-collapse .navbar-group .navbar-text a:hover{
  color: #33829c !important;

} 
.header-blue .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.header-blue .navbar .navbar-toggler:hover,
.header-blue .navbar-toggler:focus {
  background: none;
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link {
  color: #d9d9d9;
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link:focus,
.header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
  color: #fcfeff !important;
  background-color: transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}

.btn-light {
  /* border: 1px solid rgba(0, 255, 255, 0.7); */
  border-radius: 5px !important;
  color: #fff !important;
  box-shadow: none !important;
  text-shadow: none !important;
  padding: 0.3rem 25px !important;
  background: #4c9fbf !important;
  outline: none !important;
  transition: 0.3s !important;
}

.btn-light:hover {
  background-color: #3f89a8 !important;
}

.header-blue .navbar .form-inline label {
  color: #d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.header-blue .hero {
  margin-top: 20px;
  text-align: center;
}

.navbar-expand-md .plane-icon {
  display: block;
  padding-left: 200px;
  padding-right: 2px;
}

.navbar-expand-md .order-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: src("img/icon/ic.png");
  padding-left: 0px;
  background-color: #4c9fbf !important;
  border: 1px solid transparent;
  border-radius: 4px;
  /* background-size: contain; */
  vertical-align: right;
  object-fit: cover;
  background-repeat: no-repeat center center;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .header-blue .hero {
    margin-top: 60px;
    text-align: left;
  }
  .navbar-expand-md .plane-icon {
    display: none;
  }
  .navbar-expand-md .order-icon {
    display: none;
  }
}

.header-blue .hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .header-blue .hero h1 {
    margin-top: 190px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
}

.header-blue .hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.header-blue .phone-holder {
  text-align: right;
}

.header-blue div.iphone-mockup {
  position: relative;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
}

.header-blue .iphone-mockup img.device {
  width: 100%;
  height: auto;
}

.header-blue .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(img/images/im_agree.jpg);
  background-size: cover;
  background-position: center;
}

.header-blue .iphone-mockup .screen:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

.header-logo {
  height: 50px;
  width: auto;
}

.navbar-collapse {
  font-size: 18px;
}

.header-blue .navbar-light {
  padding: 0px 16px 0px 16px;
}

.container-fluid {
  height: 60px;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
  display: flex;
  justify-content: center;
  text-align: left !important;
}

.crossRotate {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  color: #000 !important;
  background-color: #4c9fbf !important;
  border-color: #d3d9df !important;
}

.navbar-collapse {
  flex-grow: unset !important;
}

.header-logo:hover,
.travel:hover,
.signup:hover,
.login:hover,
.order:hover {
  cursor: pointer !important;
}

.header-blue {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 0 0;
}
.invisible-div {
  height: 61px;
}
.register-photo {
  background: #f1f7fc;
  padding: 0px 0;
  border-radius: 5px ;
}

.register-photo .image-holder {
  display: table-cell;
  width: 50%;
  background: url(../../images/img/im_sigup.jpg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 100%;
  
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 20px 20px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 0.5rem;
}

.register-photo form .form-control {
  background: none;
    border: none;
    border-bottom: 1px solid #4c9fbf;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: #000;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #4c9fbf;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #3f89a8;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

@media (min-width: 576px){
  .modal-dialog {
      max-width: 600;
      margin: 50px auto;
  }   
}

.login-dark {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  background-color: transparent;
  background-size: cover;
  /* position: inherit; */
}
.login-dark form {
  max-width: 320px;
  width: 90%;
  background: #475d62 url(../../images/img/im_sigup.jpg);
  /* background-color: #1e2833; */
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.login-dark .illustration {
  text-align: center;
  padding: 0px 0 10px;
  font-size: 100px;
  color: #4c9fbf;
  
}
.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #4c9fbf;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: #000;
}
.login-dark form .btn-primary {
  background: #4c9fbf;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}
.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.bg1 {
  background-color: #3b5998;
}
.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.bg2 {
  background-color: #1da1f2;
}
.bg3 {
  background-color: #ea4335;
}
.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.login-dark form .signup {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-dark form .btn-primary:hover {
  background-color: #3f89a8 !important;
}

.login-dark form .btn-primary:active {
  background-color: #3f89a8 !important;
}
.register-photo form .btn-primary:active {
  background-color: #3f89a8 !important;
}
.hide {
  display: none;
  margin-left: 10px;
}
input#example-date-input.form-control:hover + .hide {
  display: block;
  color: #4c9fbf; 
}
.container div .create-order-container .order-guide div  input#advanced-search.style4{
  margin-left:10px;
}
.style4 {
  height: 15px;
  width: 30px;
  background-color: #e5e5e5;
  border-radius: 50px;
  transition: 0.3s;
}

.style4:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  left: 3px;
  top: 2.5px;
  transition: 0.3s;
}

.style4:after {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  color: #e5e5e5;
  left: 100px;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

input.style4[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  top: 2px;
  cursor: pointer;
  outline: none;
}
.style4:checked {
  background-color: #4c9fbf;
}
#collapseExample {
  display: none;
}

.style4:checked + #collapseExample {
  display: block;
}
.style4:checked:before {
  background-color: white;
  left: 15px;
}

.style4:checked:after {
  color: #4c9fbf;
}

.container div .create-order-container .order-guide div{
  color:#4c9fbf
}

.container .create-order-container .input-link .parse_button {
  margin-top: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  /* text-align: center; */
}

.container .create-order-container .input-link .parse_button:hover {
  opacity: 1;
}

.container .create-order-container .input-link .parse_button .parse {
  padding: 15px 12px;
  border-radius: 5px;
  border: 1px solid #4c9fbf;
  height: 40px;
  width: 740px;
}

.container .create-order-container .input-link .parse_button .btn_create {
  padding: 5px 15px;
  text-align: center;
  margin-left: 15px;
  height: 50px;
  margin: 10px;
  border: 1px solid #4c9fbf;
  border-radius: 5px;
  background: #4c9fbf;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-transform: none;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #4c9fbf;
  text-decoration: none;
}

.container .create-order-container .input-link .parse_button .btn_create:hover {
  background-color: #3f89a8;
  border-bottom: none;
}

.create-order-container .create-order-title h2 {
  font-weight: 700;
  font-size: 40px;
}

.create-order-container .create-order-title,
.create-order-container .create-order-info,
.create-order-container .input-link {
  margin-bottom: 10px;
}

.create-order-container .order-guide a {
  color: #3f89a8;
}

.container .create-order-container .input-link .parse_button .btn_create {
  transition: 0.3s;
}

.container .create-order-container .input-link .parse_button .btn_create:not(:disabled):not(.disabled).active,
.container .create-order-container .input-link .parse_button .btn_create:not(:disabled):not(.disabled):active {
  color: #000 !important;
  background-color: #4c9fbf !important;
  border-color: #d3d9df !important;
}

@media(min-width: 576px) {
  .create-order-container {
      padding: 20px 0px;
      margin: unset;
  }
  .container .create-order-container .input-link .parse_button .parse {
      width: 427px;
  }
  .container .create-order-container .input-link .parse_button .btn_create {
      /* padding-top: 10px; */
      padding-left: 8px;
      padding-right: 8px;
      font-size: 18px;
  }
}

@media(min-width: 768px) {
  .create-order-container {
      padding: 20px 0px;
      margin: 0px 124px;
  }
  .container .create-order-container .input-link .parse_button .parse {
      padding: 15px 12px;
      border-radius: 5px;
      border: 1px solid #4c9fbf;
      height: 40px;
      width: 780px;
  }

  .container .create-order-container .input-link .parse_button .btn_create {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 5px;
  }
}

.container div .create-order-container .input-link .parse_button div button.btn_create{
  margin:0px 0px 0px 15px;
  height:40px;
}

.container div .create-order-container .input-link .parse_button{
  display: inline-flex;
}

#autocomplete-suggestions {
  border: 1px solid #ddd;
  background: #fff;
  overflow: auto;
}

.autocomplete-suggestion {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

#autocomplete-suggestions .autocomplete-suggestion .search-item {
  padding-left: 10px;
}

#autocomplete-suggestions .autocomplete-suggestion .search-item:hover {
  background-color: #e5f3fb;
}
#autocomplete-suggestions .autocomplete-suggestion .search-item .info h2 a {
  margin-right: 15px;
}

#autocomplete-suggestions .autocomplete-suggestion .search-item .info h2 i {
  font-style: italic;
  color: #aaa;
  font-size: 24px;
}

/* Style the indicator (dot/circle) */
.col-sm-10.checkboxforsearch .checkmark2:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #4c9fbf;
}
i.fas.fa-info-circle{
  margin-left:10px;
}

.form-group.row.hide {
  display: none;
  margin-bottom:0px;
}
.form-group.row .col-sm-10.checkboxforsearch:hover + .form-group.row.hide {
  display: block;
  color: #4c9fbf;
}
.popover-line {
  color: #4c9fbf; 
  background-color: #fff;
  width:545px;
 }
.popover{
 
  border: 1px solid #4c9fbf;
  /* border-width: 550px; */
  max-width: 535px;
}
.popover-body{
   color: #4c9fbf;
   width: 530px;
   background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
 .popover-header{
  color: #4c9fbf;
  width: 530px;
  background-color:#e5f3fb ;
}
.popover-header{
  font-weight: 300;
  
}

input[type='radio']:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  position: relative;
  background-color: #4c9fbf;
  content: '';
  display: inline-block;
  visibility: visible; 
}
#autocomplete-suggestions1{
  position: absolute;
  max-height: 300px;
  z-index: 9999;
  background-color: white;
  left: 775px !important;
  width: 260px !important;
  top: 319px !important;
  display: none ;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.autocomplete-suggestion1 {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

#autocomplete-suggestions1 .autocomplete-suggestion1 p {
  padding-left: 10px;
}

#autocomplete-suggestions1 .autocomplete-suggestion1:hover {
  background-color: #e5f3fb;
}


#autocomplete-suggestions1 .autocomplete-suggestion1 .search-item .info h2 i {
  font-style: italic;
  color: #aaa;
  font-size: 24px;
}
label.col-sm-4.col-form-label{
  padding: 10px 0px 0px 0px;
  
}
.form-group.row .col-md-6{
  display: flex;
  padding-right: 0px;
  padding-left: 25px;
  /* padding: 0 0; */
}
.form-group.row .col-md-6 .col-sm-7{
  padding: 0 0;
}