html::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: #2f363a;
}

html::-webkit-scrollbar-thumb {
    background: rgb(137, 143, 146);
}

html::-webkit-scrollbar-thumb:hover {
    background: #767F82;
}

html::-webkit-scrollbar-corner {
    display: none;
}

html {
    /* -webkit-user-select: none;
            user-select: none; */
    overflow: auto !important;
}

body {
    min-height: 650px;
}

* {
    cursor: default !important;
    pointer-events: all !important;
}

a {
    cursor: text;
}

img:not([src]):not([srcset]) {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIg0KCXhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIg0KCXdpZHRoPSIxNjVweCIgaGVpZ2h0PSIxNjVweCIgdmlld0JveD0iMCAwIDE2NSAxNjUiPg0KPHBhdGggZmlsbFJ1bGU9ImV2ZW5vZGQiIGQ9Ik0gMC43OSAyLjIxQyAwLjc5IDIuMjEgMi4yMSAwLjc5IDIuMjEgMC43OSAyLjIxIDAuNzkgMTY0LjIxIDE2Mi43OSAxNjQuMjEgMTYyLjc5IDE2NC4yMSAxNjIuNzkgMTYyLjc5IDE2NC4yMSAxNjIuNzkgMTY0LjIxIDE2Mi43OSAxNjQuMjEgMC43OSAyLjIxIDAuNzkgMi4yMVoiIGZpbGw9InJnYigxOTMsMTk1LDE5NSkiLz48cGF0aCBmaWxsUnVsZT0iZXZlbm9kZCIgZD0iTSAxNjIuNzkgMC43OUMgMTYyLjc5IDAuNzkgMTY0LjIxIDIuMjEgMTY0LjIxIDIuMjEgMTY0LjIxIDIuMjEgMi4yMSAxNjQuMjEgMi4yMSAxNjQuMjEgMi4yMSAxNjQuMjEgMC43OSAxNjIuNzkgMC43OSAxNjIuNzkgMC43OSAxNjIuNzkgMTYyLjc5IDAuNzkgMTYyLjc5IDAuNzlaIiBmaWxsPSJyZ2IoMTkyLDE5NCwxOTUpIi8+PC9zdmc+');
    width: 80px;
    height: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Stopping css animations on the stage */

[bs-dragged] {
    opacity: 0.3 !important;
}


/* Inline editing */

[contenteditable=true] {
    box-shadow: -1px -1px 1px rgba(17, 142, 232, 0.85), 1px 1px 1px rgba(17, 142, 232, 0.85), 0 0 11px rgba(17, 142, 232, 0.85) !important;
    outline: none !important;
    min-height: 1em;
    cursor: initial !important;
}

[contenteditable=true] *:not([contenteditable=false]) {
    cursor: initial !important;
}

[contenteditable=true]:empty:before {
    content: "\00a0\00a0" !important;
}

[contenteditable=true] [contenteditable=false] {
    box-shadow: 0 0 0 1px rgba(17, 142, 232, 0.85);
}


/* Preventing mouse events for embeds */

iframe,
embed,
object,
audio {
    pointer-events: none !important;
}

html.hit-testing iframe,
html.hit-testing embed,
html.hit-testing object,
html.hit-testing audio {
    pointer-events: all !important;
}


/* Giving sizes to some elements. */

div[class*="col-"]:empty:before,
form:empty:before,
.row:empty:before,
.form-row:empty:before,
.form-group:empty:before,
.container:empty:before,
.container-fluid:empty:before {
    background-color: #eee;
    content: 'Empty Row';
    line-height: 40px;
    text-align: center;
    display: block;
    line-height: 80px;
    font-size: 24px;
    color: #aaa;
    font-weight: bold;
}

div[class*="col-"]:empty:before {
    content: 'Empty Column';
}

form:empty:before {
    content: 'Empty Form';
}

.form-group:empty:before {
    content: 'Empty Form Group';
}

form.navbar-form:empty:before {
    display: inline-block;
    padding: 0 40px;
    font-size: 16px;
    line-height: 36px;
}

.container:empty:before,
.container-fluid:empty:before {
    content: 'Empty Container';
}

.thumbnail img:not([src]) {
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position-y: 50%;
    width: 100%;
    height: 180px;
}


/* Making the dropdown menus have a white background when they're edited */

.dropdown-item:active,
.dropdown-menu>li>a:focus {
    background: unset;
    color: unset;
}


/* This is needed because the li items are 0x0px by default,
		and bootstrap studio can't select them */

.pagination>li {
    float: left;
}


/* Iframes without src are colored in gray */

.embed-responsive iframe:not([src]) {
    background-color: #ddd;
}


/* This is needed, otherwise split buttons in input groups break into two lines. */

.input-group-btn .btn-group>.btn {
    float: none;
}

div[class*="col-"]:empty,
div.col:empty {
    display: flex;
}

div[class*="col-"]:empty:before,
form:empty:before,
.row:empty:before,
.form-row:empty:before,
.container:empty:before,
.container-fluid:empty:before {
    width: 100%;
}

div.col:empty:before {
    background-color: #eee;
    content: 'Empty Column';
    line-height: 40px;
    text-align: center;
    display: block;
    line-height: 80px;
    font-size: 24px;
    color: #aaa;
    font-weight: bold;
    width: 100%;
}

.toast-header img:not([src]):not([srcset]) {
    width: 30px;
    height: 30px;
}


/* Stopping css spinner animations */

.spinner-grow:not([bs-spinner-animation]),
.spinner-border:not([bs-spinner-animation]) {
    animation: none;
}

.spinner-grow:not([bs-spinner-animation]) {
    opacity: 1;
    transform: scale(.8);
}

.custom-range::-webkit-slider-runnable-track {
    cursor: inherit;
}

.container .row .col-md-12 h2 {
    text-align: center;
}

.container .row .col-md-6 .check {
    padding-left: 15px;
    font-size: 14px;
}

.container .row .col-md-6 .right {
    text-align: right;
}

.container .row .col-md-6 .left {
    text-align: left;
}



.highlight-phone .container .row .col-md-8 .intro .btn_create {
    padding: 8px 32px;
    text-align: center;
    height: 40px;
    margin: 0px;
    border: 1px solid #4c9fbf;
    background: #4c9fbf;
    box-shadow: none;
    margin-top: 150px;
    text-shadow: none;
    opacity: 0.9;
    font-size: inherit;
    text-transform: uppercase;
    color: #fff;
    text-transform: none;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    border-radius: 3px;
    background-color: #4c9fbf;
}

.highlight-phone .container .row .col-md-8 .intro .btn_create:hover {
    opacity: 1;
}

.highlight-phone .container .row .col-md-8 .intro .btn_create:active {
    transform: translateY(1px);
}

.container .row .col-md-12 .how {
    font-size: 14px;
    color: #4c9fbf;
}


/* .highlight-phone .container .row .col-md-8 .intro {
            width: auto;
            height: 200px;
            background: #000;
            color: #fff;
        }
        
        
        
        
         */

.container .row .col-md-4 .row .col-md-4 img {
    width: 80px;
    height: 80px;
}

.container .row .col-md-4 .row .col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.container .row .col-md-4 .row .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.container .row .col-md-4 .row .col-md-8 .name {
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.container .row .col-md-4 .row .col-md-8 .description {
    font-size: 15px;
}

.container .row .col-md-4 .row .col-md-8 .learn {
    font-size: 15px;
    color: #4c9fbf;
    cursor: pointer !important;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer !important;
    list-style-type: none;
}
.container .row .col-md-4 .row .col-md-8 .learn:hover {
    
    cursor: pointer !important;
   
}
@media (min-width: 768px) {
    .container .row .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 25%;
        max-width: 33.333333%;
    }
}

@media (min-width: 768px) {
    .container .row .col-md-4 .row .col-md-6 .des {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .container .row .col-md-4 .row .col-md-6 .images {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.container .row .col-md-4 .row .col-md-6 .description {
    font-size: 16px;
}

.container .row .col-md-3 .learn {
    color: #4c9fbf;
    cursor: pointer !important;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer !important;
    list-style-type: none;
}
.container .row .col-md-3 .learn:hover {

    cursor: pointer !important;
    color: #3f89a8 !important;
}

.container .row .col-md-3 .topshop {
    width: 270px;
    height: 270px;
}

.highlight-phone {
    color: #313437;
    background-color: #4C9FBF;
    padding: 20px 0 20px;
    overflow: hidden;
}

@media (max-width:767px) {
    .highlight-phone {
        text-align: center;
    }
}

.highlight-phone p {
    color: #fff;
}

.highlight-phone h2 {
    height: auto;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: #fff;
}

.highlight-phone .intro {
    font-size: 16px;
    max-width: auto;
    line-height: 1.5;
}

@media (max-width:767px) {
    .highlight-phone .intro {
        max-width: none;
    }
}

.highlight-phone .intro p {
    margin-bottom: 15px;
}

.highlight-phone .intro .btn {
    padding: 16px 32px;
    border: none;
    background-color: #4c9fbf;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: none;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 1;
}

.highlight-phone .intro .btn:hover {
    opacity: 1;
}

.highlight-phone .intro .btn:active {
    transform: translateY(1px);
}

.highlight-phone .intro .btn-primary {
    background-color: #fff;
    color: #000;
    margin-top: 15px;
}

.highlight-phone .intro .btn-primary:hover {
    background-color: #3f89a8 !important;
    
}
.highlight-phone .intro .btn-primary:active {
    background-color: #4c9fbf !important;
    
}
.highlight-phone .iphone-mockup {
    position: relative;
    /* max-width: 260px; */
    margin-top: -30px;
    margin-bottom: -230px;
    transform: rotate(0deg);
}

.highlight-phone .iphone-mockup img.device {
    width: 450;
    height: 300;
}

.highlight-phone .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-0deg);
    opacity: 0.2;
}

.highlight-phone .container .row .col-md-4 .device {
    width: 150px;
    height: 100px;
}

.container .row .col-md-12 {
    padding-left: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.container .row .col-md-12 .hot {
    font-size: 20px;
    color: #b6b5c0;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container .row .col-md-3 {
    padding-left: 10px;
    padding-top: 10px;
}

.container .row .col-md-12 h2 {
    font-size: 40px;
}

.container .row .col-md-12 h2 {
    font-size: 40px;
}



@media(min-width: 576px) {
    .container .row .col-md-4 {
        text-align: center;
    }
    .container .row .col-md-3 {
        width: 270px;
    }
}

@media(min-width: 768px) {
    .container .row .col-md-4 {
        text-align: left;
        /* flex: 0 0 0; */
        /* max-width: 350px; */
    }
}


*:not([bs-anim-preview]) {
    transition: none !important;
    transition-duration: 0s !important;
}

* {
    /* cursor: default !important; */
    pointer-events: all !important;
}

* {
    cursor: default !important;
    pointer-events: all !important;
}


.collapse .form-group .col-md-2 .col-form-label {
    color: #000;
}

.col-form-label {
    color: #000;
}

@media (min-width: 768px) {
    .content .container .row .col-md-8 {
        /* margin-left: 100px; */
        max-width: 75%;
    }
}

.content .container .row .col-md-8 {
    background-color: #fff;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

@media (min-width: 768px) {
    .col-md-8 {
        flex: unset;
        width: inherit;
    }
}

*:not([bs-anim-preview]) {
    transition: none !important;
    transition-duration: 0s !important;
}

@media (min-width: 768px) {
    .col-md-4 {
        padding: 0px 0px 0px 25px;
    }
}

@media (min-width: 576px) {
    .col-md-4 {
        padding: unset;
    }
}

.content .container .row .col-md-4 .panel-top {
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 15px; */
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.content .container .row .col-md-4 a {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.content .container .row .col-md-4 .title {
    font-size: 16px;
    color: #828282;
    font-weight: normal;
    padding-right: 10px;
}

.content .container .row .col-md-4 .inside {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

.content .container .row .col-md-4 input {
    background-color: #f2f2f2;
    height: 0.1px;
    border: 0.1px solid #f2f2f2;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 320px;
}

.content .container .row .col-md-8 {
    background-color: #fff;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.content .container .row .col-md-8 a {
    color: #000;
    font-size: 20px;
}

.content .container .row .col-md-8 .des {
    color: #828282;
    margin-top: 0px;
    font-size: 14px;
}

.content .container .row .col-md-8 .parse {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    border-radius: 5px;
    border: 1px solid #4c9fbf;
    height: 40px;
    width: 100%;
    text-align: center;
}

.content .container .row .col-md-8 .ip_input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    margin-top: 0px;
    font-size: 16px;
}

.content .container .row .col-md-8 {
    background-color: #fff;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.content .container .row .col-md-8 a {
    color: #000;
    font-size: 20px;
}

.content .container .row .col-md-8 .des {
    color: #828282;
    margin-top: 0px;
    font-size: 14px;
}

.content .container .row .col-md-8 .parse {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    border-radius: 5px;
    border: 1px solid #4c9fbf;
    height: 40px;
    width: 100%;
    text-align: center;
}

.content .container .row .col-md-8 .ip_input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    margin-top: 0px;
    font-size: 16px;
}

.content .container .row .col-md-8 .container .row img {
    width: 100px;
    height: 100px;
}

.content .container .row .col-md-8 .product_image {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.content .container .row .col-md-8 .reload_button {
    background-color: #4c9fbf;
    width: 40px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    /* margin-left: 10px; */
    /* margin-bottom: 5px; */
}

.content .container .row .col-md-8 .quantity img {
    width: 22px;
    height: 22px;
}

.content .container .row .col-md-8 h4 {
    font-size: 25px;
}

@media (min-width: 576px) {
    /* .col-md-8 {
                -ms-flex: unset;
                flex: unset;
                width: inherit;
            } */
    .content .container .row .col-md-8 {
        margin-bottom: 15px;
        margin-left: unset;
    }
    .col-md-4 {
        padding: unset;
    }
    .content .container .row .col-md-8 .container .row .col-xs-2 img {
        max-width: 89px;
        max-height: 89px;
    }
    .content .container .row .col-md-8 .ip_input_link {
        padding-left: 10px;
        border-radius: 5px;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
        height: 40px;
        /* width: 90%; */
        margin-right: 10px;
        width: 455px;
        margin-top: 0px;
        font-size: 16px;
    }
    .content .container .row .col-md-8 .reload_button {
        background-color: #4c9fbf;
        width: 40px;
        height: 40px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        margin-left: 2px;
        /* margin-bottom: 5px; */
    }
    .delivery-container {
        display: flex;
    }
    .delivery-infor {
        margin: auto;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        -ms-flex: unset;
        flex: unset;
        width: inherit;
    }
    .content .container .row .col-md-8 {
        margin-left: 0px;
    }
    .content .container .row .col-md-8 .container .row .col-xs-2 img {
        max-width: 100px;
        max-height: 100px;
    }
    .content .container .row .col-md-8 .ip_input_link {
        padding-left: 10px;
        border-radius: 5px;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
        height: 40px;
        /* width: 90%; */
        width: 540px;
        margin-top: 0px;
        font-size: 16px;
        margin-right: 0px;
    }
    .content .container .row .col-md-8 .reload_button {
        background-color: #4c9fbf;
        width: 40px;
        height: 40px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        margin-left: 10px;
        /* margin-bottom: 5px; */
    }
    .col-md-4 {
        padding: 0px 0px 0px 25px;
    }
    .delivery-container {
        display: initial;
    }
}

.content-title {
    font-size: 20px;
}

h3 {
    font-size: 25px;
    font-weight: 500;
}

.container {
    margin-right: 20px;
    margin-left: 20px;
}

.content .container .row .col-md-4 .panel-top ul li a {
    color: #000;
    font-family: Graphik, 'Graphik LC Web', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer !important;
    list-style-type: none;
}

.content .container .row .col-md-4 .panel-top ul li a:hover {
    color: #3f89a8 !important;
    text-decoration-style: solid !important;
    border-bottom: 1px solid #3f89a8;
}

.content .container .row .col-md-8 .docvnandeng .docvn a {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.content .container .row .col-md-8 .nav .nav-item .doceng {
    width: 630px;
    /* background-color: #e5e5e5; */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f2f2f2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tab-content .tab-pane .container .row .col-md-8 {
    border: none;
    width: 650px;
    padding: 0px 0px 0px 0px;
    margin-left: 15px;
}

.tab-content .tab-pane .container .row .col-md-8 .title {
    font-size: 20px;
    font-weight: 50px;
    color: #4c9fbf;
}

.tab-content .tab-pane .container .row .col-md-4 {
    border: none;
    width: 200px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.tab-content .tab-pane .container .row .col-md-4 .container .row .col {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.tab-content .tab-pane .container .row .col-md-8 .title {
    font-size: 20px;
    font-weight: 50px;
    color: #4c9fbf;
}

.tab-content .tab-pane .container .row .col-md-4 {
    border: none;
    width: 200px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.tab-content .tab-pane .container .row .col-md-4 .container .row .col {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.datecome {
    font-weight: 30px;
    color: #4c9fbf
}

.datestart {
    font-weight: 30px;
    color: #038a40
}

.iseffect {
    font-weight: 25px;
    color: #cfcfcf
}

.navbar-content-md8 {
    background-color: #f5f5f5;
    font-size: 5px;
}
.container div .create-order-container .input-link .parse_button{
    display: inline-flex;
}
.container div .create-order-container .input-link .parse_button div input.parse{
    height:40px;
}
.container div .create-order-container .input-link .parse_button div button.btn_create{
    margin:0px 0px 0px 15px;
    height:40px;
}

.container div .create-order-container .order-guide div label.search{
    font-style: italic; 
    margin-right: 10px;
}




.pagination {
    border-top: 1px solid #4c9fbf;
    margin: auto;
    justify-content: center;
}
a.paging-item {
    border: 1px solid #bfd7e0;
    text-align: center;
    font-size: 13px;
    padding: 13px;
    margin: 10px 0px;
    color: #6a6a6a;
}